/* ----------------------------
           body part
-----------------------------*/
body{
    margin: 0 auto;
    padding: 0;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.952);
    font-family: 'Poppins', sans-serif;
}
/* ---------------------------
          hover part
--------------------------- */
.groups-matchs:hover{
    background-color:rgb(0, 0, 0) ;
}
.button-live:hover{
    background-color: rgb(0, 0, 0);
}
.club-info a:hover{
    color: rgb(155, 102, 102);
}

/*--------------------------
          header part 
----------------------------*/


.container{
    display: flex;
    margin-top: 60px;
    justify-content: center;
}
.title-sheet{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(24, 10, 10);
    border-radius: 50px;
    width: 85%;
    
}
.title-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.button-live{
    width: 100px;
    color:rgb(240, 253, 255);
    text-decoration: none;
    background-color: rgb(83, 42, 42);
    padding: 16px;
    border-radius: 7px;
}
.titles{
    font-size: 70px
}
.title-image img{
    width: 100%;
    height: 650px;
}

/* --------------------------
            sidebar
----------------------------- */
.sidebar{
    height: 360px;
    background-color: rgb(24, 10, 10);
    margin: 35px;
    border-radius: 20PX;
}
.bar-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.groups-matchs{
    width: 40%;
    margin: 30px;
    border-radius: 8PX;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    padding: 16px;
    background-color:rgba(83, 42, 42, 0.411);
}
#blog{
    background-color: rgb(0, 0, 0);
}

/*--------------------------- 
           transfers 
-----------------------------*/


.daily-news{
    display: grid;
    grid-template-columns: 25vw auto;
}
.player-image img{
    width: 100%;
    border-radius: 10px;
}
.transfer-talks{
    width: 92%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-items: center;
    margin-top: 3%;
}
.transfers{
    background-color: rgb(24, 10, 10);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 10PX;
}
.club-info{
    padding:5% ;
}
.club-info h3{
    font-weight: 500;
}
.club-info a{
    color: aliceblue;
    padding: 6px 20px ;
    text-decoration: none;
    border: 1px solid rgba(83, 42, 42, 0.411);
    border-radius: 5px;
}
.icons{
    display: flex;
    justify-content: space-around;
    column-gap: 15%;
}

/*---------------------------------
            footer part
----------------------------------- */

.connections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background-color:rgb(24, 10, 10);
    margin-top: 10%;
    text-align: center;
}
hr{
    width: 80%;
    border: 1px solid rgb(83, 42, 42);
}
.term-list, .social{
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}
.bar{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none;
}
/*---------------------------------
             matchs part html 
-----------------------------------*/
.team-flag{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.team-flag img{
    width: 100%;
}
.vs{
    color: yellow;
}
/*---------------------------------
            media quary
----------------------------------- */


@media screen and (max-width:688px){
        .title-sheet{
            flex-direction: column;
            text-align: center;
        }
        .bar-list{
            flex-direction: column;
        }
        .daily-news{
            display: inline;
        }
        .transfer-talks{
            width: 100%;
            grid-template-columns: repeat(1, 1fr);
        }
        .term-list{
            display: inline;
            
        }
        .connections{
            display: inline;
        }
}
@media screen and (min-width:689px) and (max-width:1200px){
    .daily-news{
        display: inline;
    }
    .bar-list{
        flex-direction: row;}
    .sidebar{
        height: 0%;
    }
    .transfer-talks{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}